@import "./styles/globalStyles.scss";

.main-page {
    display: flex;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color: $backgroundCol;
    aside {
        background-color: $accent;
    }
    
  }

  button {
    @include button();
}
button:hover {
    @include button-hover();
}

  .Sidebar {
    width: 200px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    div {
        display: inline-block;
    }
  }


  .page-body {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .FileUpload {
    background-color: #ffffff;
    border: 1px dashed #000000;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
  
    &:hover {
      background-color: #f0f0f0;
    }
  }
  
  .note-container {
    display: flex;
    flex-direction: column;
    gap: 10px; // Spacing between elements
  
    .note-title-input,
    .note-content-textarea,
    .add-note-button {
      width: 100%; // Ensure full width for each element
      padding: 10px;
      margin-bottom: 10px; // Space between elements
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  
    .note-content-textarea {
      min-height: 100px; // Enough space for writing notes
    }
  
  }